# Node
node_modules/
dist/
*.log

# Terraform
infra/.terraform/
infra/.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
infra/build/*.zip
crash.log
crash.*.log

# Variáveis locais / segredos — nunca commitar
*.tfvars
!infra/terraform.tfvars.example
.env

# Lockfiles que DEVEM ser commitados
!.terraform.lock.hcl
!package-lock.json

# Editores
.idea/
.vscode/
*.swp
